<div class = "pad-top">
    <img class="img-fluid" src="/img/maintop-3.png" alt="Isle of Wight"/>
</div>

<div class="leftcol">
  <div class="row">
    <div class=" padleft content-solidbg-left" >

 <div class="col-3">
        <img class="img-fluid paddit" src="/img/take-a-step.png" alt="" />
      </div>
      <h2>About Us</h2> 
      
      <p>
        We are a group of volunteers whose aim is to maintain the Isle of Wight’s Fairtrade status. We receive donations and do fundraising to help us with this goal. The funding will be used to advertise and support local shops and suppliers of fairtrade products, to work with schools and colleges to educate youngsters about the importance of Fairtrade and to increase awareness of the importance of Fairtrade amongst island residents. We also hold stalls from time to time and especially in Fairtrade Fortnight and give away samples to introduce more people to Fairtrade products.
      </p>


      <h2>Our Aims and Objectives</h2>
      <ul>
        <li>To maintain the Isle of Wight’s Fairtrade status</li>
        <li>To raise awareness of Fairtrade products</li>
        <li>To increase the buying and consumption of Fairtrade goods</li>
        <li>To increase the number of shops and outlets with Fairtrade products</li>
      </ul>
    <h5>Please contact us for further information through: </h5>
    <dl>
        <div>
          <dt>isle of wight fairtradeforum</dt>
          <dd>Email : wakeley215@btinternet.com</dd>
          <dd>Telephone: 01983522751 (UK)</dd>
        </div>
    </dl>

    </div>
      <img class="img-fluid bottom_up" src="/img/lower-crop.png" />
    
  </div>
</div>